<div class="container-fluid">
  <div style ="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style ="width: 300px;">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="item">Item</label>
      <input type="text" id="item" name="item"
      placeholder="Enter Content..." class="form-control"
      required [(ngModel)]="itemValue">

    </div>

  <div class="btn-group">
    <button class="btn btn-success" type="submit">Submit</button>
  </div>
  </form>
</div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor = "let item of items |async">
      {{item.content}}
    </pre>
  </div>
</div>

<div class="container-fluid">
    <div style="color: blue;">
      <h1>{{title}}</h1>
      <h3>{{description}}</h3>
    </div>
  
    <nav>
      <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    </nav>
    <router-outlet></router-outlet>
  </div>

